<!DOCTYPE html>
<html>
	<head>
		<title>My Beats App</title>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="static/css/main.css" />
	</head>
	<body>
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
		<script type="text/javascript" src="http://bam.cdn.beatsmusic.com/bam-1.0.2.min.js"></script>
		<script>
			var bam = new BeatsAudioManager("myBeatsPlayer");
			bam.on("ready", handleReady);
			bam.on("error", handleError);
			bam.on("ended", randomize);
			function handleReady(value) { 
    			bam.clientId = "{{clientId}}";
    			bam.authentication = {
        			access_token: "{{accessToken}}", 
        			user_id: "{{userId}}"
    			};
    			//bam.identifier = [BEATS_MUSIC_TRACK_ID];
    			//bam.load();
			};
			function handleError(value) {
    			console.log("Error: " + value);
    			switch (value) {
        			case "auth":
        				// Beats Music API auth error (401)
        				break;
        			case "connectionfailure":
        				// audio stream connection failure
        				break;
        			case "apisecurity":
        				// Beats Music API crossdomain error
        				break;
        			case "streamsecurity":
        				// audio stream crossdomain error
        				break;
        			case "streamio":
        				// audio stream io error
        				break;
        			case "apiio":
        				// Beats Music API io error getting track data
        				break;
        			case "flashversion":
        				// flash version too low or not installed
        				break;
    			}
			};

			var preloader = new Image();
			preloader.onload = function() {
				$("#randomizer").css("background-image", "url("+this.src+")");
			};
			
			function randomize() {
				$.ajax({
					url: "beats-randomizer/randomize",
					method: "GET",
					dataType: "json",
					async: true,
					success: function(response, textStatus, jqXHR) {
						bam.stop();
						bam.identifier = response.id;
						
						preloader.src = response.image;
						if (response.liked) {
							$("#like").addClass("enabled");
						} else {
							$("#like").removeClass("enabled");
						}

						bam.load();
					}
				});
			}

			$(document).ready(function() {

				$("#randomize").on("click", randomize);
				$("#dislike").on("click", function() {
					$.ajax({
						url: "beats-randomizer/dislike/"+bam.identifier,
						method: "GET",
						//dataType: "json",
						async: true,
						success: function(response, textStatus, jqXHR) {
							console.log(response);
							if (response.errorCode == 0) {
								$("#like").removeClass("enabled");
							}
						}
					});
					randomize();
				});
				$("#like").on("click", function() {
					$.ajax({
						url: "beats-randomizer/like/"+bam.identifier,
						method: "GET",
						//dataType: "json",
						async: true,
						success: function(response, textStatus, jqXHR) {
							console.log(response);
							if (response.errorCode == 0) {
								$("#like").addClass("enabled");
							}
						}
					});
				});
				//$("#playPause").on("click", function() {});

				/*
				$("#search input[type=search]").on("input", function() {
					var query = $(this).val();
					if (query.length > 0) {
						$.ajax({
							url: "https://partner.api.beatsmusic.com/v1/api/search",
							method: "GET",
							data: {
								type: "artist",
								q: query,
								client_id: "57raramrebxmqdfe5mdgas2m"
							},
							dataType: "json",
							async: true,
							success: function(response, textStatus, jqXHR) {
								console.log(response);
								if (response.code === "OK") {
									var html = ""
									for (var i=0; i<response.data.length; i++) {
										html += "<li>" + response.data[i].display + "</li>"
									}
									$("#search ul").html(html).show();
								}
							}
						});
					} else {
						$("#search ul").hide();
					}
				})
				*/
			});
		</script>

		<div id="container">
			<div id="randomizer">
				<button id="randomize"></button>
				<div id="playlistControls">
					<button id="dislike"></button>
					<button id="like"></button>
				</div>
			</div>
		</div>
<!--
		<div id="myBeatsPlayer">
			<button id="playPause"></button>
			<div id="trackInfo">
				<span id="artist"></span> - <span id="title"></span>
			</div>
		</div>
		<section id="search">
			<form>
				<input type="search" name="artistSearch" placeholder="Search..." autocomplete="off"></input>
				<ul id="suggestions" style="display:none" name="suggestions">
 				</ul>
			</form>
		</section>
-->
	</body>
</html>