body {
	font-family: neuzeit_groteskblack, Helvetica, sans-serif;
	/*font-family: Helvetica Neue, Helvetica, sans-serif;*/
}

section#search ul {
	list-style-type: none;
	width: 100px;
	border: 1px solid black;
	padding: 0;
}

section#search li {
	border-top: 1px solid black;
}

section#search li:first-child {
	border-top: none;
}

section#search li:hover {
	background-color: #aaa;
}

section#search input[type=search] {
	width: 100px;
}

#container {
	position: absolute;
	left: 50%;
	margin-left: -450px;
}

#randomizer {
	position: relative;
	height: 450px;
	width: 900px;
	border: 2px solid black;
	background-color: #5E0ABC;
	/*background-color: #BF00A8;*/
	background-repeat: no-repeat;
	background-size: cover;
}

#randomizer button:focus {
	outline: 0;
}

#randomizer button {
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
	border: none;
}

button#randomize {
	background-image: url(/static/images/play.png);
	background-size: contain;
	height: 200px;
	width: 200px;
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -100px 0 0 -100px;
}

#playlistControls {
	width: 100%;
	position: absolute;
	bottom: 0;
}

button#like {
	background-image: url(/static/images/like.png);
	background-size: contain;
	height: 64px;
	width: 64px;
	float: right;
}

button#like.enabled {
	background-image: url(/static/images/like3.png);
}

button#dislike {
	background-image: url(/static/images/dislike4.png);
	background-size: contain;
	height: 64px;
	width: 64px;
	float: left;
}
/*
button#pausePlay {
	background-image: url(/static/images/1403608255_x.png);
	background-size: contain;
	height: 64px;
	width: 64px;
}
*/

#myBeatsPlayer {
	width: 100%;
	height: 60px;
	position: relative;
}
